@import "tailwindcss";

:root {
  --font-rubik: "Rubik", sans-serif;
  /* --background: #ffffff;
  --foreground: #171717; */
}

body {
  font-family: var(--font-rubik);
  background-color: oklch(12.9% 0.042 264.695);
  color: white;
  max-width: 1440px;
  margin: 0 auto;
}
